body {
    background-image: url('https://marketplace.canva.com/EAFK93mVurI/1/0/1600w/canva-colorful-illustration-galaxy-desktop-wallpaper-XY3nugZSkII.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    color: white;
    text-align: center;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: "Asimovian", sans-serif;
    font-size: 35px;
    color: whitesmoke;
}

form div {
    margin-bottom: 20px;
}

button {
    align-self: flex-end;
    background: linear-gradient(135deg, rgb(236, 64, 103), rgb(160, 26, 125));
    border-radius: 25px;
    border: 2px solid whitesmoke;
    color: rgb(49, 24, 71);
    font-family: "Asimovian", sans-serif;
    padding: 20px 20px;
    width: 150px;
}
button:hover {
    box-shadow: 0 10px 30px rgba(218, 214, 214, 0.479);
}

#titleInput {
    padding: 20px;
}

#bodyInput {
    padding: 20px;
}

#postList li {
    margin-bottom: 1rem;   /* adds clean spacing between Title and Body */
}

label {
    display: block;        /* moves label above the input */
    font-weight: bold;     /* makes it bold */
    font-size: 20px;
    color: yellow;
    text-align: center;    /* centers the text */
    margin-bottom: 8px;    /* adds space between label and input */
}