body {
    background-image: url('https://marketplace.canva.com/EAFK93mVurI/1/0/1600w/canva-colorful-illustration-galaxy-desktop-wallpaper-XY3nugZSkII.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    color: white;
    text-align: center;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: "Asimovian", sans-serif;
    font-size: 35px;
    color: whitesmoke;
}

button {
    align-self: flex-end;
    background: linear-gradient(135deg, rgb(236, 64, 103), rgb(160, 26, 125));
    border-radius: 25px;
    border: 2px solid whitesmoke;
    color: rgb(49, 24, 71);
    font-family: "Asimovian", sans-serif;
    padding: 20px 20px;
    width: 150px;
}
button:hover {
    box-shadow: 0 10px 30px rgba(218, 214, 214, 0.479);
}

.titleInput {
    padding: 20 px 20 px;
}